//Fonts
$font-stack: open_sanslight;
$font-regular: open_sansregular;
$font-bold: open_sansbold;
$font-extrabold: open_sansextrabold;

//Colors
$color1: #EE4636; //Rojo
$color2: #F7A094; //Rosa
$color3: #229A84; //Verde
$color4: #ADBA2C; //Verde fuerte
$color5: #0A4368; //Azul
$color6: #779BB0; //Celeste
$color7: #EDF0BB; //Crema
$color8: #92D1C8; //Turquesa

$primary-color: $color7;

$primary-background: $color7;
$second-background: $color1;