@font-face {
  font-family: 'open_sanslight';
  src: url("fonts/OpenSans-Light-webfont.eot");
  src: url("fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Light-webfont.woff") format("woff"), url("fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("OpenSans-Regular-webfont.eot");
  src: url("OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-Regular-webfont.woff") format("woff"), url("OpenSans-Regular-webfont.ttf") format("truetype"), url("OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansbold';
  src: url("OpenSans-Bold-webfont.eot");
  src: url("OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-Bold-webfont.woff") format("woff"), url("OpenSans-Bold-webfont.ttf") format("truetype"), url("OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansextrabold';
  src: url("OpenSans-ExtraBold-webfont.eot");
  src: url("OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("OpenSans-ExtraBold-webfont.woff") format("woff"), url("OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }
/***********************/
/**** HTML Elements ****/
/***********************/
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none; }

input,
textarea {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto; }

html {
  height: 100%;
  margin: 0; }

body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: #FFF;
  font-family: open_sanslight;
  height: 100%; }

.subtext {
  font-size: 0.85em;
  font-color: #888; }

.form-control {
  background-color: #e0e0e0 !important;
  color: #444 !important; }

/***********************/
/* ViewNavigator Styles */
/***********************/
.viewNavigator_header {
  background: #ee4636;
  color: #edf0bb; }

.viewNavigator_header_title {
  color: #edf0bb;
  font-size: 1.3em;
  max-width: 75%; }

.viewNavigator_backButton {
  position: absolute;
  top: 16px;
  left: 5px;
  /*     width:40px; */
  /*     color: rgba(0,0,0,0); */
  /*     height:35px; */
  /*     box-shadow: 0 0 0 0; */
  /*     background: #DEDEDE; */
  /*     border:1px solid #999; */
  /*     padding:0px; */
  /*     border-radius:0px; */
  /*     background-image:url('graphics/back_arrow.png'); */
  /*     background-position: 3px center; */
  /*     background-repeat:no-repeat; */
  font-weight: bold;
  text-decoration: none;
  color: #edf0bb; }

.viewNavigator_backButton_active,
.viewNavigator_backButton:active {
  background-color: #f0f0f0;
  /*-webkit-border-image: url("images/iOSbackButton_active.png") 0 4 0 12;*/ }

.viewNavigator_content {
  background: #edf0bb;
  color: #444; }

.viewNavigator_contentHolder {
  color: #f0f0f0;
  border: none; }

.viewNavigator_contentHolder > div:first-child {
  min-height: 100%;
  /*     background:#EDEDED; */
  /*background-image:url('graphics/wheat_bg.png');
  background-position: top left;
  background-repeat:repeat;*/
  border-bottom: 1px solid #444; }

.viewNavigator_backButton {
  background: none;
  box-shadow: none; }

.viewNavigator_headerActions span {
  color: #edf0bb;
  font-size: 2em; }

/********************************/
/****** Swiper Dangerous  *********/
/********************************/
.swiper-container {
  height: 15em;
  width: 100%; }

.content-slide {
  padding: 20px;
  color: #fff; }

.swiper-slide img {
  max-width: 100%; }

.title {
  font-size: 25px;
  margin-bottom: 10px; }

.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%; }

.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer; }

.swiper-active-switch {
  background: #fff; }

/***********************/
/******* Data List *****/
/***********************/
.data-list {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  min-height: 100%;
  padding: 0;
  margin: 0;
        /*
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
*/ }

.data-list-lightweight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  margin: 0px; }

.data-list-lightweight ul,
.data-list-lightweight li,
.data-list ul,
.data-list li {
  padding: 0;
  margin: 0;
  border: none;
  position: relative; }

.data-list-lightweight ul,
.data-list ul {
  display: block;
  width: 100%;
  max-width: 100%; }

.data-list-lightweight li,
.data-list li {
  cursor: pointer;
  font-size: 1em;
  display: block; }

.listSelected {
  color: #333;
  border-top: 1px solid #094C99;
  background-color: #D9D900; }

.data-list-lightweight li.listSelected,
.data-list li.listSelected {
  color: #FFF;
  border-top: 1px solid #999;
  background-color: #6b6b6b;
  font-weight: bold;
  /*background-image:url('images/more_disclosure_white.png');*/ }

/************************************/
/******* Data List Continuación *****/
/************************************/
/***********************/
/******* Load View *****/
/***********************/
.loadItems .icon {
  color: #edf0bb;
  font-size: 5em;
  margin-top: 1em;
  opacity: .7; }

.searchString {
  color: #619C00;
  font-weight: bold; }

/********************************/
/****** List Item  *********/
/********************************/
.itemType {
  font-size: .9em;
  font-style: italic; }

.itemFirstLine {
  font-size: .9em;
  color: #cbcbcb; }

.itemFirstLine .itemDate {
  font-size: .8em;
  color: #999;
  font-style: italic; }

.itemSecondLine {
  font-size: 1em;
  color: #f0f0f0; }

.itemThirdLine {
  font-size: .8em;
  color: #999; }

.itemFeatured {
  background-image: url("images/more_disclosure.png") !important;
  background-color: yellow; }

.liContainer {
  padding: 1em;
  padding-left: 1em;
  padding-right: 1px;
  border-top: none;
  border-bottom: 1px solid #999;
  width: 100%; }

.liContainerExtended {
  background-image: url("images/more_disclosure.png");
  background-position: right center;
  background-repeat: no-repeat; }

.liContainerBook .label {
  font-weight: normal;
  width: auto;
  display: inline; }

.liContainerBook .itemThirdLine .col-xs-12, .liContainerVisit .itemThirdLine .col-xs-12 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 98%;
  padding-left: 0; }

.liContainerBook .itemDate {
  font-size: .9em; }

.liContainerBook .bookActions {
  padding-right: 0;
  padding-top: .5em; }

.liContainerBook .bookActions .btnActive .glyphicon {
  color: #edf0bb; }

.liContainerBook .bookActions button:disabled {
  background-color: #333;
  border: 1px solid #555; }

.liContainerBook .selectedState, .liContainerBook .nonSelectedState {
  margin-left: .3em;
  font-size: 1.2em; }

.liContainerBook .selectedState {
  color: #edf0bb; }

.liContainerBook .nonSelectedState {
  opacity: .3; }

.liContainerVisit .itemDate {
  font-size: .9em; }

/***********************/
/******* Login View *****/
/***********************/
#loginView .container {
  padding: 1em; }

#loginView p {
  color: #555; }

#loginView .panel {
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  border: none; }

#loginView .panel img {
  margin: 1em; }

#loginView .panel .form-control {
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #f0f0f0;
  border: none;
  color: #999; }

#loginView .logo {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  width: 50%; }

/***********************/
/******* Home View *****/
/***********************/
#homeView {
  width: 100%;
  margin: 0px;
  display: block;
  text-align: center;
  border: none;
  min-height: 100%; }

@media screen and (max-device-width: 767px) {
  #homeView {
    /*background-image: url('images/background_480.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;*/ } }
@media screen and (min-device-width: 768px) {
  #homeView {
    /* background: url('images/background_1024.jpg') no-repeat center top;*/ } }
#homeView a {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px; }

#homeView .container {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden; }

#homeView .square {
  display: inline-block;
  width: 25%;
  height: 17%;
  margin: -0.65%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  border: none;
  text-align: center;
  vertical-align: top; }

#homeView .long {
  width: 50%;
  vertical-align: top; }

#homeView .xlong {
  width: 75%;
  vertical-align: top; }

#homeView .big {
  width: 50%;
  height: 33.2%;
  vertical-align: top; }

#homeView .sq1 {
  background: #edf0bb; }

#homeView .sq2 {
  background: #f7a094; }

#homeView .sq3 {
  background: #229a84;
  padding-top: 7%; }

#homeView .sq4 {
  background: #ee4636;
  font: open_sanslight;
  font-size: 1.1em;
  color: #edf0bb; }

#homeView .sq5 {
  background: #0a4368; }

#homeView .sq6 {
  background: #adba2c; }

#homeView .sq7 {
  background: #edf0bb;
  color: #ee4636;
  font: open_sansextrabold;
  font-size: 1.5em;
  text-align: left;
  padding-top: 7%; }

#homeView .sq7 span {
  font-size: 1.5em; }

#homeView .sq8 {
  background: #229a84; }

#homeView .sq9 {
  background: #779bb0; }

#homeView .sq10 {
  background: #229a84; }

#homeView .sq11 {
  background: #adba2c; }

#homeView .sq12 {
  background: #f7a094; }

#homeView .sq13 {
  background: #adba2c; }

#homeView .sq14 {
  background: #ee4636; }

#homeView .sq15 {
  background: #edf0bb; }

#homeView .sq16 {
  background: #92d1c8; }

#homeView .sq17 {
  background: #0a4368; }

#homeView .sq18 {
  background: #edf0bb; }

#homeView .sq19 {
  background: #edf0bb; }

#homeView .sq20 {
  background: #f7a094; }

#homeView .sq21 {
  background: #229a84; }

#homeView .sq22 {
  background: #ee4636; }

/*.img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    }*/
/***********************/
/******* About View *****/
/***********************/
#aboutView .container {
  padding: 1em;
  text-align: left; }

#aboutView {
  color: #555; }

/********************************/
/********** Item View  *********/
/********************************/
/********************************/
/* Div Absoluto en pié */
/********************************/
.ftr {
  width: 100%;
  height: 3em;
  background: #ebebeb;
  z-index: 300;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-top: .2em;
  display: none; }

/********************************/
/* Media Queries: Tablet Portrait */
/********************************/
@media screen and (min-device-width: 768px) {
  body {
    font-size: 16px; }

  /*    #slider {
          height: 25em;
      }*/
  #thelist li {
    height: 5em;
    vertical-align: middle; }

  .container {
    width: 100%; }

  .btn-sm {
    padding: 10px 20px;
    font-size: 15px; }

  .row {
    margin-left: -20px; }

  .label {
    width: 100px; }

  .itemInfo h1.glyphicon {
    font-size: 4em;
    margin-left: 1em;
    color: #999; }

  .itemWell .col-sm-8 {
    padding-left: 20px; }

  /*Nuevos de Coterránea*/
  /*Login View*/
  #loginView .panel, #itemViewNewConversation .panel, #itemViewNewVisit .panel {
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
    padding: 2em;
    margin-top: 2em; }

  #loginView .panel img {
    margin: 0;
    margin-bottom: 2em; }

  #loginView button {
    margin-top: 2em; }

  /*#loginView .logo{
      width: 100%;
  }*/
  /*Home View*/
  .imgHomeSelect {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    padding: 2em;
    margin-top: 1em;
    -webkit-border-radius: 10px; }

  .homeButton {
    height: 10em;
    padding: 2em; }

  .homeButton p {
    font-size: 1.4em; }

  .homeButton .icon {
    font-size: 4em; }

  .expensesHomeButton {
    width: 97%;
    height: 8em; }

  .expensesHomeButton .glyphicon {
    font-size: 4em; }

  .expensesIcon {
    text-align: right; }

  .expensesText {
    text-align: left; }

  .buttonLine:last-child {
    margin-top: 0.3em; }

  /*Conversation List*/
  .itemFirstLine .itemDate {
    font-size: 1em; }

  /*Conversation View*/
  .ftr {
    height: 3.7em;
    padding-top: .4em; }

  .messageContainer .messageText {
    font-size: 1em; }

  .conversationContainer {
    padding-bottom: 5em; }

  .ftr #enviar .icon {
    color: #edf0bb;
    font-size: 1.5em; } }
/********************************/
/* Media Queries: Small Phones  */
/********************************/
@media screen and (max-device-width: 320px) and (-webkit-max-device-pixel-ratio: 1.5) {
  .itemPhone {
    display: block; } }
/********************************/
/* Media Queries: Xtra Small Phones  */
/********************************/
@media screen and (max-device-width: 240px) {
  .liContainer {
    border-top: 2px solid #999; }

  .itemSecondLine {
    font-size: 1em; }

  .liContainerCronograma .itemData .glyphicon {
    display: none; }

  #loginView .logo {
    display: none; }

  .imgHomeSelect {
    display: none; }

  .liContainerExtended .itemThirdLine {
    font-size: .9em; }

  .liContainerExtended .itemDate {
    color: #f0f0f0; }

  .conversationContainer .messageContainer .messageUser {
    color: #f0f0f0;
    font-size: .9em;
    font-style: italic; }

  .liContainerBook .itemDate {
    color: #f0f0f0;
    font-size: 1em;
    font-style: normal; }

  .liContainerBook .itemThirdLine .itemName {
    color: #f0f0f0;
    font-size: 1em;
    font-style: normal; }

  .liContainerVisit .itemDate {
    font-size: 1em;
    font-style: normal; }

  .liContainerVisit .itemThirdLine .itemDescription {
    color: #f0f0f0;
    font-size: 1em;
    font-style: normal; } }
/* Agregados Selects */
.selectAvatar {
  text-align: left;
  padding-left: .5em;
  padding-right: 1em;
  margin-bottom: .5em; }

.selectAvatar .icon {
  font-size: 1.5em !important;
  color: #999 !important; }

.selectAvatarText {
  width: 90%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
