<div id="abuseView">
	<div class="container">
    <div class="row">
      <ul class="nav nav-tabs navSelector">
        <li class="active"><a href="#Tab1" data-toggle="tab"><span class="icon ion-navicon"></span></a></li>
        <li><a href="#Tab2" data-toggle="tab">Maltratos</a></li>
        <li><a href="#Tab3" data-toggle="tab">Urgencias</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="Tab1">
           <p>En todas las relaciones hay conflictos, Pero, en ocasiones, mas que problemas lo que tenemos es una relación que nos daña y que debe continuar.</p>
           <p>Los limites de una relación que no funciona y una relación violenta no siempre están claros. Pero si tu pareja te humilla, te controla, te amenaza, te agrede, estás sufriendo maltrato.</p>
         </div>
         <div class="tab-pane fade" id="Tab2">
          <p>Una relación que nos hace daño no debe continuar.  </p>
          <p>No te cierres y busca ayuda.</p>
          <p>Tienes a disposición apoyo profesional, gratuito y confidencial, en tu CAVI</p>
        </div>
        <div class="tab-pane fade" id="Tab3">
          <p>Si tu pareja o empareja te amenaza, te agrede o temes que pueda hacerlo llama al teléfono: <a id="callBtn" href="tel:112" class="btn btn-danger btn-sm" role="button">*112</a>
            <p>Alli te informarán que debes hacer y te ayudarán.</p>
            <h4>¿Qué hacer si he sufrido una agresión?</h4>
            <ul>
              <li> Llamar al teléfono <a id="callBtn" href="tel:112" class="btn btn-danger btn-sm" role="button">*112</a> y pedir ayuda (llamada gratuita, 24 horas).</li>
              <li>Si ha habido una agresión, debes ir al hospital/urgencias para que te hagan un parte de lesiones (pide copia).</li>
              <li>Ir a la Policía para interponer la denuncia y solicitar una orden de protección (pide copia).</li>
              <li>Solicitar abogado/a del turno específico de violencia.</li>
            </ul>
            <h4>Ante un ataque…</h4>
            <ul>
              <li>Intenta huir.</li>
              <li>Protégete con los brazos la cara y la cabeza.</li>
              <li>Trata de no estar en lugares en los que el agresor pueda acceder a objetos peligrosos (ej, cocina)</li>
              <li>Grita para que alguien te ayude.</li>
              <li>Si puedes, refugiate con tus hijas/os en casa de un/a vecino/a.</li>
              <li> Si tienes hijos/as, enséñales a marcar el teléfono de emergencias <a id="callBtn" href="tel:112" class="btn btn-danger btn-sm" role="button">*112</a></li>
              <li>Guarda las pruebas de la agresión (ropa rota, fotos, armas…)</li>
              <li>Haz fotos de las heridas y desperfectos, aunque sea con tu celular.</li>
              <li>Acude a tu médico/médica.</li>
            </ul>
            <h4>Anticípate</h4>
            <ul>
              <li>Asesórate. Acude a un CAVI</li>
              <li>Si tienes hijos/as, enséñales a protegerse y a buscar ayuda.</li>
              <li>No lleves ninguna prenda y objeto que le sirva para herirte.</li>
              <li>Guarda en un lugar seguro los teléfonos de emergencia.</li>
              <li>Informa de tus planes solo a aquellas personas en las que confíes plenamente.</li>
              <li>Haz inventario de los bienes que dejas en casa.</li>
              <li>Reúne todo el dinero que puedas.</li>
            </ul>
            <h4>Te será de utlidad…</h4>
            <ul>
              <li>DNI o pasaporte</li>
              <li>Tarjeta sanitaria (tuya y la de tus hijos/as)</li>
              <li>Libreta de familia</li>
              <li>Permiso para conducir</li>
              <li>Permiso de trabajo si no tienes la nacionalidad Argentina.</li>
              <li>Contrato de alquiler / escrituras de propiedad.</li>
              <li>Pólizas de seguro.</li>
              <li>Títulos académicos.(tuyos y de los hijos/as)</li>
              <li>Agenda de direcciones.</li>
              <li>Denuncias e informes médicos de agresiones anteriores.</li>
              <li>Un juego de llaves de reserva del domicilio y del coche.</li>
              <li>Dinero / tarjetas de credito / chequeras bancarias / joyas.</li>
              <li>Un juego de ropa para ti y tus hijos/as.</li>
              <li>Documentos que acrediten los ingresos y gastos familiares.</li>
            </ul>
            <h4>Si denuncias…</h4>
            <p>
              <em>Pasos:</em></p>
              <ul>
                <li>Puedes contar con un abogado o una abogada especialista en temas de violencia de género, a través del teléfono (Acá va el botón de llamar). Está asistencia será gratuita sólo si cumples los requisitos para que te concedan la Justicia Gratuita.</li>
                <li>También puedes recibir asesoramiento del CAVI que te corresponda.</li>
              </ul>
              <h4>Donde denunciar…</h4>
              <p>En la comisaría de Policía, Cuartel de Gendarmería o Juzgado de Guardia.</p>

              <div class="panel panel-default">
                <div class="panel-heading"><h4>Importante:</h4></div>
                <div class="panel-body">
                  <p>Procura ir acompañada de un/a abogado/a a poner la denuncia. Solicítalo en el <a id="callBtn" href="tel:112" class="btn btn-danger btn-sm" role="button">*112</a></p>
                  <p> Relata con todo detalle en qué ha consistido el maltrato. No te avergüences y cuéntalo todo, ya que es importante que figure en la denuncia.</p>
                  <p>Solicita la orden de protección para evitar que el agresor pueda acercarte a ti.</p>
                  <p>Con la orden de protección puedes solicitar medidas de carácter penal y civil.</p>
                  <ul>
                    <li>Medidas de carácter penal: alejamiento del agresor, que deje la vivienda, que no te moleste en el trabajo, que no te llame.</li>
                    <li>Medidas de carácter civil (si hubiera niños/as): guarda y custodia de los menores, atribución del uso de la vivienda familiar, pensión alimenticia, régimen de visitas.</li>
                  </ul>
                <p>Facilita pruebas y testigos; es importante.</p>
            </div>
          </div>

          <h4>Más información:</h4>
          <ul>
            <li id="urlWeb"></li>
            <li id="urlFacebook"></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //var headerHeight = $(".viewNavigator_contentHolder").height();
  //$("#singleView").css("height",headerHeight);

  //Cambio de color del Header
  $(".viewNavigator_header").css("background","#F7923E");
  $(".viewNavigator_contentHolder").css("color","#F7923E");
  </script>