<div id="homeView">
	<div class="container">
        <div class="square sq1"></div>
        <div class="square sq2"></div>
        <div class="square long sq3">
        	<img src="assets/images/logo_app.png" class="img-responsive" alt="">
        </div>
        <div class="square long sq4"><p>¿Es sana tu relaci&oacute;n de pareja?</p></div>
        <div class="square sq5"></div>
        <div class="square sq6"></div>
        <div class="square xlong sq7">Descubrilo Aquí <span class="icon ion-ios7-plus-outline"></span></div>
        <div class="square sq8"></div>
        <div class="square sq9"></div>
        <div class="square sq10"></div>
        <div class="square sq11"></div>
        <div class="square sq12"></div>
        <div class="square sq13"></div>
        <div class="square sq14"></div>
        <div class="square long sq15" style="position:relative">
        	<img src="assets/images/logo_ll.png" width="100px" style="position:absolute,left:5, top:5" alt="">
        </div>
        <div class="square sq16"></div>
        <div class="square sq17"></div>
        <div class="square long sq18"></div>
        <!-- <div class="square sq19"></div>
        <div class="square sq20"></div>
        <div class="square sq21"></div>
        <div class="square sq22"></div> -->
	</div>
</div>

<script>
  var headerHeight = $(".viewNavigator_contentHolder").height();
  $("#homeView").css("height",headerHeight);
</script>