<div id="menuView">
	<div class="container">
        <div class="row">
            <div class="col-xs-9 titleParent">
                <span class="title">En este momento no tengo pareja</span>
                <span class="subTitle">&iquest;Qu&eacute; esper&aacute;s de una relaci&oacute;n?</span>
            </div>
            <div id="btnSingle" class="col-xs-3 iconParent">
                <span class="icon ion-ios7-plus-outline"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 titleParent">
                <span class="title">&iquest;Es sana mi relaci&oacute;n de pareja?</span>
                <span class="subTitle">Compru&eacute;balo con este sencillo test</span>
            </div>
            <div id="btnQuest" class="col-xs-3 iconParent">
                <span class="icon ion-ios7-plus-outline"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 titleParent">
                <span class="title">&iquest;Qu&eacute; hacer si mi relaci&oacute;n es da&ntilde;ina?</span>
                <span class="subTitle">&iquest;Qu&eacute; hacer si sufro maltrato?</span>
            </div>
            <div id="btnAbuse" class="col-xs-3 iconParent">
                <span class="icon ion-ios7-plus-outline"></span>
            </div>
        </div>
	</div>
</div>

<script>
  var headerHeight = $(".viewNavigator_contentHolder").height();
  $("#menuView").css("height",headerHeight);
</script>