<div id="resultMiddleView">
	<div class="container">
    <div class="row">
      <ul class="nav nav-tabs navSelector">
        <li class="active"><a href="#Tab1" data-toggle="tab"><span class="icon ion-navicon"></span></a></li>
        <li><a href="#Tab2" data-toggle="tab">El Límite</a></li>
        <li><a href="#Tab3" data-toggle="tab">&iquest;Qu&eacute; puedes hacer?</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="Tab1">
           <p>Tienes momentos buenos con tu pareja, pero a veces sientes un malestar que no sabes describir...</p>
           <p>Quiz&aacute; no conect&aacute;s lo suficiente, no compart&iacute;s cosas esenciales o, simplemente, se ha acabado la ilusi&oacute;n.</p>
           <p>Hay relaciones que no funcionan bien, pero hay otras con verdaderos problemas.</p>
         </div>
         <div class="tab-pane fade" id="Tab2">
          <p>Los l&iacute;mites entre una relaci&oacute;n que no funciona y una relaci&oacute;n en la que existe violencia no siempre est&aacute;n claros.</p>
          <p>La violencia de g&eacute;nero no es solo una agresi&oacute;n f&iacute;sica. Tambi&eacute;n lo es el control excesivo, las humillaciones, los insultos, las descalificaciones... Todo esto est&aacute; presente en muchas relaciones de parejas j&oacute;venes, aunque no sean conscientes de ello.</p>
        </div>
        <div class="tab-pane fade" id="Tab3">
          <p>Tienes a tu disposici&oacute;n apoyo profesional, gratuito y confidencial</p>
          <p>¿Quieres saber más?</p>
          <ul>
            <li id="urlWeb"></li>
            <li id="urlFacebook"></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  //var headerHeight = $(".viewNavigator_contentHolder").height();
  //$("#singleView").css("height",headerHeight);

  //Cambio de color del Header
  $(".viewNavigator_header").css("background","#0A4368");
  $(".viewNavigator_contentHolder").css("color","#0A4368");
  </script>