<div id="resultAbuseView">
	<div class="container">
    <div class="row">
      <ul class="nav nav-tabs navSelector">
        <li class="active"><a href="#Tab1" data-toggle="tab"><span class="icon ion-navicon"></span></a></li>
        <li><a href="#Tab2" data-toggle="tab">Maltratos</a></li>
        <li><a href="#Tab3" data-toggle="tab">Es Urgente</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="Tab1">
           <p>A menudo ponemos mucha ilusi&oacute;n en nuestra relaci&oacute;n de pareja: queremos que funcione a toda costa y podemos llegar a pasar por alto situaciones que nos est&aacute;n haciendo mucho da&ntilde;o. Atr&eacute;vete a revisar tu relaci&oacute;n y comprueba si te ocurre:</p>
           <ul>
            <li>Quedamos a menudo con amigos y siempre se las arregla para que no veamos los m&iacute;os.</li>
            <li>Me coge el m&oacute;vil para ver qu&eacute; mensajes he mandado o qui&eacute;n me ha llamado.</li>
            <li>Critica mi forma de ser o de vestir.</li>
            <li>Me toca o besa sin mi consentimiento.</li>
            <li>Cuando se enfada me mira de una manera que me asusta...</li>
            <li>En alguna ocasi&oacute;n me ha empujado o me ha levantado la mano</li>
          </ul>
          <p>¿Te has visto reflejada? No siempre es fácil detectar estas maniobras de dominación porque al principio son muy sutiles y se pueden confundir con muestras de cariño... </p>
          <p>Hay que estar alerta: muchas de estas conductas son cosideradas normales pero en realidad son indicadores de maltrato y pueden ser el pre&aacute;mbulo de un comportamiento porterior m&aacute;s extremo, como:</p>
          <ul>
            <li>Te controla, te vigila, te esp&iacute;a.</li>
            <li>Te a&iacute;sla de tus amistades, de tu familia: quiere que todo el mundo sea &eacute;l.</li>
            <li>Te humilla, te descalifica, se r&iacute;e de ti.</li>
            <li>Te impone relaciones sexuales.</li>
            <li>Te intimida rompiendo objetos y/o gritando.</li>
            <li>Te amenaza con difundir en las redes sociales fotos o informaci&oacute;n &iacute;ntima.</li>
            <li>Te agrede f&iacute;sicamente. Luego te pedir&aacute; perd&oacute;n. Te jurar&aacute; que no se volver&aacute; a repetir. Te dir&aacute; que le has provocado, se justificar&aacute;... Pero cada vez las conductas ser&aacute;n mas graves y frecuentes.</li>
          </ul>
        </div>
        <div class="tab-pane fade" id="Tab2">
          <p>Si una amiga o alguien de tu familia sufre malos tratos, no la dejes sola.</p>
          <p>Acomp&aacute;&ntilde;ala en el proceso: no es f&aacute;cil romper una relaci&oacute;n que nos perjudica.</p>
          <p>An&iacute;mala a que busque apoyo profesional, gratuito y confidencial en un CAVI</p>
          <p>M&aacute;s informaci&oacute;n:</p>
          <ul>
            <li id="urlWeb"></li>
            <li id="urlFacebook"></li>
          </ul>
        </div>
        <div class="tab-pane fade" id="Tab3">
          <p>Si tu pareja te amenaza, te agrede o temes que pueda hacerlo llama al teléfono: <button id="callBtn" type="button" class="btn btn-danger btn-sm">*112</button>. Alli te informarán que debes hacer y te ayudarán.</p>
          <p>M&aacute;s informaci&oacute;n:</p>
          <ul>
            <li id="urlWeb"></li>
            <li id="urlFacebook"></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //var headerHeight = $(".viewNavigator_contentHolder").height();
  //$("#singleView").css("height",headerHeight);

  //Cambio de color del Header
  $(".viewNavigator_header").css("background","#EE4636");
  $(".viewNavigator_contentHolder").css("color","#EE4636");
  </script>