<div id="resultHealthyView">
	<div class="container">
    <div class="row">
      <ul class="nav nav-tabs navSelector">
        <li class="active"><a href="#Tab1" data-toggle="tab"><span class="icon ion-navicon"></span></a></li>
        <li><a href="#Tab2" data-toggle="tab">Maltratos</a></li>
        <li><a href="#Tab3" data-toggle="tab">Es Urgente</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="Tab1">
           <p><strong>¡Enhorabuena!</strong> Tienes muy claro que una relación te debe aportar equilibrio y bienestar, y que si no es así, no merece la pena.</p>
           <p>Tus respuestas indican que tu relaci&oacute;n es SANA, entonces seguro que:</p>
           <ul>
            <li>Tus opiniones son tan importantes como las de tu pareja.</li>
            <li>Organizan cosas juntos, pero tambi&eacute;n se reservan tiempo para estar con otros/as amigos/as, con la familia y para otras actividades.</li>
            <li>Tienen confianza y se sienten libres para hacer y decidir lo que quieran.</li>
            <li>Cuando hay algun problema lo hablan.</li>
            <li>Ninguno lleva las riendas de la relaci&oacute;n: es asunto de los dos, a partes iguales.</li>
          </ul>
          <p>Tienes una relaci&oacute;n sana, pero &iquest;Con&oacute;ces a alguien cuya relaci&oacute;n es da&ntilde;ina?</p>
          <p>En todas las relaciones hay conflictos. Pero, en ocasiones, mas que problemas lo que tenemos es una relaci&oacute;n que hace da&ntilde;o y que no debe continuar.</p>
          <p>Los l&iacute;mites entre una relaci&oacute;n que no funciona y una relaci&oacute;n violenta no siempre est&aacute;n claros. Pero si hay humillaciones, control, amenazas, agresiones... hay maltrato.</p>
        </div>
        <div class="tab-pane fade" id="Tab2">
          <p>Si una amiga o alguien de tu familia sobre malos tratos, no la dejes sola. Acomp&aacute;&ntilde;ala en el proceso: no es f&aacute;cil romper una relaci&oacute;n que nos perjudica.</p>
          <p>An&iacute;mala a que busque apoyo profesional, gratuito y confidencial en un CAVI.</p>
          <p>M&aacute;s informaci&oacute;n:</p>
          <ul>
            <li id="urlWeb"></li>
            <li id="urlFacebook"></li>
          </ul>
        </div>
        <div class="tab-pane fade" id="Tab3">
          <p>Si hay amenazas, agresiones o temes por la integridad de tu amiga/familiar llama al tel&eacute;fono.</p>
          <p>(agregar bot&oacute;n)</p>
          <p>All&iacute; te informar&aacute;n de que hacer y te ayudar&aacute;n.</p>
          <p>M&aacute;s informaci&oacute;n:</p>
          <ul>
            <li id="urlWeb"></li>
            <li id="urlFacebook"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  //var headerHeight = $(".viewNavigator_contentHolder").height();
  //$("#singleView").css("height",headerHeight);

  //Cambio de color del Header
  $(".viewNavigator_header").css("background","#229A84");
  $(".viewNavigator_contentHolder").css("color","#229A84");
  </script>