<div id="singleView">
	<div class="container">
        <div class="row">
            <ul class="nav nav-tabs navSelector">
                <li class="active"><a href="#Tab1" data-toggle="tab"><span class="icon ion-navicon"></span></a></li>
                <li><a href="#Tab2" data-toggle="tab">Mitos</a></li>
                <li><a href="#Tab3" data-toggle="tab">Una Buena Relación</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="Tab1">
                      <p>A menudo escuchamos que existe nuestra alma gemela, esa media naranja con la que seremos felices para siempre… estos mensajes tan extendidos están presentes en nuestras expectativas, pero encierran ideas falsas sobre las que merece la pena reflexionar. </p>
                  </div>
                  <div class="tab-pane fade" id="Tab2">
                    <h4>Mito de la media naranja</h4>
                    <p>Si creemos que hay una persona predestinada para cada uno/a, nos puede pasar que:</p>
                    <ul>
                      <li>nos empeñemos en mantener a toda costa una relación, con tal de no perder a nuestra media naranja, aunque esa relación sea nociva o asfixiante.</li>
                      <li>creemos, erróneamente, que somos seres incompletos y que sin la &quot;otra mitad&quot; que nos complemente, nuestra vida no tendrá sentido.</li>
                  </ul>
                  <h4>Mito de los Celos</h4>
                  <p>Existe una creencia generalizada de que los celos son un signo inequívoco de amor.</p>
                  <p>Cuidado: Con este mito se llegan a justificar comportamientos injustos, controladores y violentos.</p>
                  <h4>Mito de la Confusión</h4>
                  <p>Confundir amor y enamoramiento (pasión romántica) no puedes llevar a creer que si no se está apasionadamente enamorado es que no hay amor. La pasión no dura eternamente, pero en una relación saludable perdurará el cariño, el respeto y la complicidad.</p>
                  <p>Quién bien te quiere, te hará llorar</p>
                  <p>En una relación se comparten alegrías y también penas, pero eso no quiere decir que se pueda hacer daño a la otra persona para imponerse o llevar el control de la relación.</p>
                  <h4>&quot;El amor lo puede todo&quot;</h4>
                  <p>El amor no es algo mágico capaz de transformarlo todo. Una relación sólo funcionará si ambas partes la construyen y la cuidan.</p>
              </div>
              <div class="tab-pane fade" id="Tab3">
                <p>Una buena relación necesita:</p>
                <ul>
                  <li>
                      Amor: que ambas partes se quieran y de apoyen mutuamente. En el amor nunca cabe el maltrato.</li>
                      <li>Respeto: que no haya humillaciones, insultos, que no te controlen tu móvil, tu Facebook o Twitter, que no te impongan relaciones sexuales si no lo deseas...</li>
                      <li>Confianza: que puedes quedar con otra gente &quot;sin que te abrumen los celos de tu pareja&quot;</li>
                      <li>Libertad: para decir lo que piensas, para vestirte como quieras, para hacer planes que te gustaría, sin temer su reacción.<br />
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
</div>

<script>
  //var headerHeight = $(".viewNavigator_contentHolder").height();
  //$("#singleView").css("height",headerHeight);

  //Cambio de color del Header
  $(".viewNavigator_header").css("background","#EE4636");
  $(".viewNavigator_contentHolder").css("color","#EE4636");
  </script>